## Remember how to connect to an sqlite database?

In [16]:

import sqlite3

conn = sqlite3.connect('data/parlgov-development.sqlite')

### And select data from the table `view_election`?

In [21]:

import pandas as pd

elections = pd.read_sql("select * from view_election", conn)
elections.head()

,country_name_short,country_name,election_type,election_date,vote_share,seats,seats_total,party_name_short,party_name,party_name_english,left_right,country_id,election_id,previous_parliament_election_id,previous_cabinet_id,party_id
0,AUS,Australia,parliament,1901-03-30,44.4,32.0,75,PP,Protectionist Party,Protectionist Party,7.4000,33,731,NaN,NaN,1898
1,AUS,Australia,parliament,1901-03-30,34.2,26.0,75,FTP,Free Trade Party,Free Trade Party,6.0000,33,731,NaN,NaN,1938
2,AUS,Australia,parliament,1901-03-30,19.4,15.0,75,ALP,Australian Labor Party,Australian Labor Party,3.8833,33,731,NaN,NaN,1253
3,AUS,Australia,parliament,1901-03-30,1.4,1.0,75,none,no party affiliation,no party affiliation,NaN,33,731,NaN,NaN,1396
4,AUS,Australia,parliament,1901-03-30,0.6,1.0,75,one-seat,one seat,one seat,NaN,33,731,NaN,NaN,2299

# DON'T FORGET TO CLOSE THE DB CONNECTION WHEN YOU'RE DONE QUERYING!!!!!

In [22]:

conn.close()

Good luck on the code challenge, you'll all do fine